{% extends "base.html" %}
{% block body %}
<h2 class="username">{{user_info.username}}</h2>
<p class="gender">{{user_info.gender}}</p>
<hr>
<div class="feed-section">
    <div class="feed'">
        {% for post in users_posts %}
        <h3>{{post.title}}</h3>
        <p>{{post.author}}</p>
        <blockquote>{{post.content}}</blockquote>
        <a href="{{url_for('edit', post_id=post.id)}}">Edit</a>
        <a href="{{url_for('delete', post_id=post.id)}}">Delete</a>
        {% endfor %}    
    </div>
</div>

{% endblock %}